.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image1, .image3 {
  position: absolute;
  width: 100%;
}

.image1 {
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  background-image: url('../images/image1.png');
}

.image1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 25%; /* Ensure it only occupies the space needed for the text */
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.text-overlay h1 {
  font-family: Poppins, sans-serif;
  font-size: 44px !important;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.328px;
  margin: 0;
}

.text-overlay p {
  font-family: Poppins, sans-serif;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.443px;
  margin: 0;
}

.image3 {
  height: 75%;
  top: 25%; /* Adjust to ensure it starts right after .image1 */
  position: absolute; /* Changed to absolute to fit within the container */
  overflow: hidden;
  display: flex;
  justify-content: space-evenly; /* Ensure SVGs are spaced evenly */
  align-items: center;
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-svg, .right-svg {
  width: 280px;
  height: auto;
}

.svg-text {
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
}
